<header class="p-4 relative z-50">
  <nav class="flex justify-between items-center">
    <h1 class="text-lg font-medium text-white">Genmatcha</h1>
    <ul class="hidden">
      <li><a href="/"></a></li>
      <li><a href="/"></a></li>
      <li><a href="/"></a></li>
      <li><a href="/"></a></li>
      <li><a href="/"></a></li>
    </ul>
    <div>
      <button class="p-1 rounded-xl">
        <svg
          class="stroke-white"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="none"
            stroke="current"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h7"
          />
        </svg>
      </button>
    </div>
  </nav>
</header>
